* {
    margin: auto;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
}

.main {
    width: 100%;
    height: 50px;
    display: flex;
    margin: 10px 0;
    border: 1px solid black;
}

.body {
    width: 100%;
    height: 500px;
    display: flex;
}

.footer {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
}

.header .logo {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    padding-top: 40px;
}

.header .banner {
    width: 70%;
    height: 100%;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
    padding-top: 40px;
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.right {
    width: 40%;
    height: 100%;
    margin-left: 10px;
    display: flex;
}

.item {
    width: 15%;
    height: 90%;
    border-right: 2px solid black;
    text-align: center;
    padding-top: 15px;
}

.right .search {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.right .search input {
    height: 40px;
    width: 100%;
    background-color: rgb(216, 243, 243);
    outline: none;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}

.body-left {
    width: 10%;
    height: 100%;
}

.body-mid {
    width: 70%;
    height: 100%;
    margin: 0px 10px;
}

.body-right {
    width: 20%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.body-left .item-1 {
    width: 100%;
    height: 35%;
    border: 1px solid black;
}

.body-left .item-2 {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    margin-top: 10px;
}

.body-mid .hot-news {
    width: 100%;
    height: 150px;
    display: flex;
}

.body-mid .news {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.body-mid .hot-news .news1 {
    width: calc(50% - 10px);
    height: 100%;
    border: 1px solid black;
}
.box{
    width: calc(100% /3 - 10px);
    height: 50%;
    border: 1px solid black;
    margin: 5px 5px;
}
.chart-1{
    width: 100%;
    height: calc(100% / 3 - 10px);
    border: 1px solid black;
    }
.chart{
width: 100%;
height: calc(100% / 3 - 10px);
border: 1px solid black;
margin: 10px 0;
}
.footer-left{
    width: 50%;
    height: 100%;
}
.footer-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}